[Unit]
Description=Wire-speed routing stack
After=syslog.target
Before=network.target

[Service]
ExecStart=/usr/local/bin/ixmap-auto

[Install]
WantedBy=multi-user.target
